<manifest package="com.example.captain_miao.grantap"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity
            android:name=".ShadowPermissionActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
        </activity>

    </application>

</manifest>
