<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.learn.refreshandload">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">
        <activity
            android:name="com.github.learn.CIndex"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.learn.refreshandload.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.github.learn.refreshandload.gridview.GridViewActivity"
            android:label="@string/label_action_label_grid_view" />
        <activity
            android:name="com.github.learn.refreshandload.gridview.RefreshGridViewActivity"
            android:label="@string/label_action_label_refresh_grid_view" />
        <activity
            android:name="com.github.learn.refreshandload.RefreshRecyclerActivity"
            android:label="@string/label_action_label_recycler_view" />
        <activity
            android:name="com.github.learn.refreshandload.HeaderRecyclerActivity"
            android:label="@string/label_action_label_header_view" />
        <activity
            android:name="com.github.learn.stickyheaders.StickyHeadersActivity"
            android:label="@string/label_action_label_sticky_header_view" />
        <activity
            android:name="com.github.learn.expandable.ExpandableRecyclerActivity"
            android:label="@string/label_action_label_expandable_view" />
        <activity
            android:name="com.github.learn.index.IndexRecyclerActivity"
            android:label="@string/label_action_label_index_view" />
        <activity
            android:name="com.github.learn.staggeredgrid.StaggeredGridRecyclerActivity"
            android:label="@string/label_action_label_staggered_grid_view" />
        <activity
            android:name="com.github.learn.databinding.DataBindingRecyclerActivity"
            android:label="@string/label_action_label_data_binding" />
    </application>

</manifest>
